<% content_for :title, "Upload Ebook" %>

<%= render "shared/page_header",
    title: "Upload New Ebook",
    subtitle: "Add a new ebook to your digital library." %>

<div class="mx-auto max-w-3xl rounded-xl bg-white p-8 shadow-sm">
  <%= render "form", ebook: @ebook %>
</div>